spring:
  redis:
    lettuce:
      pool:
        max-active: 10
        max-idle: 10
        min-idle: 2

---
spring:
  profiles: dev
  redis:
    host: localhost
    port: 6379

---
spring:
  profiles: stage
  redis:
    host: 10.10.20.66
    port: 6379

---
spring:
  profiles: prod
  redis:
    host: 10.10.20.66
    port: 6379