<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Gowid</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link
            href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,700&display=swap"
            rel="stylesheet"
    />
</head>
<body style="margin: 0; padding: 0; background-color: #f8f8f8;">
<div id=":mv" class="a3s aiL msg5794538864515976562"><u></u>
    <div>
        <div style="width:100%;padding:40px 0;background-color:#f2f2f2;margin:0 auto">
            <table class="m_5794538864515976562stb-container" cellpadding="0" cellspacing="0" align="center"
                   style="margin:0px auto;width:94%;max-width:630px;background:rgb(255,255,255);border:0px">
                <tbody>
                <tr style="margin:0;padding:0">
                    <td style="width:100%;max-width:630px;margin:0 auto;border-spacing:0;clear:both;border-collapse:separate;padding:0;overflow:hidden">
                        <div style="height:0px;max-height:0px;border-width:0px;border-color:initial;line-height:0px;font-size:0px;overflow:hidden;display:none">
                            신청 준비물만 미리 챙겨두시면 15분만에 법인카드 발급 완료<img goomoji="1f64c" data-goomoji="1f64c"
                                                                  style="margin:0 0.2ex;vertical-align:middle;max-height:24px"
                                                                  alt="🙌" src="https://mail.google.com/mail/e/1f64c"
                                                                  data-image-whitelisted="" class="CToWUd">🏻
                        </div>
                        <table border="0" cellpadding="0" cellspacing="0"
                               style="overflow:hidden;margin:0px auto;padding:0px;width:100%;max-width:630px;clear:both;background:none;border:0"
                               width="100%;">
                            <tbody>
                            <tr>
                                <td style="padding:15px 0 15px 0;line-height:1.8;border-width:0px">
                                    <table class="m_5794538864515976562stb-cell-wrap" border="0" cellpadding="0"
                                           cellspacing="0" style="table-layout:fixed;padding:0px 5px" width="100%">
                                        <tbody>
                                        <tr>
                                            <td style="padding:0px 15px" width="100%">
                                                <div><p style="text-align:justify;margin:0px;width:100%"><img
                                                        src="https://ci3.googleusercontent.com/proxy/CnTa41UOOWarkpCQ0B_XlRyODsBvhlwgs19THSXqxSJPk_szP8OW5rB9inxwZOsKNWYwUVJmgeO_hFlNLXUBRw_xvBcfrKNto9HNTPV6Rcr5uQzd-eJx1Y8RncyOwQ=s0-d-e1-ft#https://s3.ap-northeast-2.amazonaws.com/img.stibee.com/32754_1600418441.png"
                                                        style="width:100%;display:inline;vertical-align:middle;max-width:100%;border-width:0px;border-color:initial;text-align:justify"
                                                        width="610" class="CToWUd"></p></div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <table border="0" cellpadding="0" cellspacing="0"
                               style="overflow:hidden;margin:0px auto;padding:0px;width:100%;max-width:630px;clear:both;background:none;border:0"
                               width="100%">
                            <tbody>
                            <tr>
                                <td style="padding:15px 0 15px 0;line-height:1.8;border-width:0px;font-size:14px">
                                    <table class="m_5794538864515976562stb-cell-wrap" border="0" cellpadding="0"
                                           cellspacing="0" style="padding:0px 5px" width="100%">
                                        <tbody>
                                        <tr>
                                            <td class="m_5794538864515976562stb-text-box"
                                                style="padding:0px 15px;line-height:1.8;word-break:break-word;font-size:14px;font-family:AppleSDGothic,apple sd gothic neo,noto sans korean,noto sans korean regular,noto sans cjk kr,noto sans cjk,nanum gothic,malgun gothic,dotum,arial,helvetica,MS Gothic,sans-serif!important;color:#333333"
                                                width="100%"><span
                                                    style="color:rgb(51,51,51);font-family:AppleSDGothic,&quot;apple sd gothic neo&quot;,&quot;noto sans korean&quot;,&quot;noto sans korean regular&quot;,&quot;noto sans cjk kr&quot;,&quot;noto sans cjk&quot;,&quot;nanum gothic&quot;,&quot;malgun gothic&quot;,dotum,arial,helvetica,MS Gothic,sans-serif;font-style:normal"><span
                                                    style="font-size:26px;font-weight:bold">고위드 법인 신용카드 신청 절차 안내드립니다.</span></span><br>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <table border="0" cellpadding="0" cellspacing="0"
                               style="overflow:hidden;margin:0px auto;padding:0px;width:100%;max-width:630px;clear:both;background:#ffffff;border:0"
                               width="100%">
                            <tbody>
                            <tr>
                                <td style="padding:5px 0 5px 0;line-height:1.8;border-width:0px">
                                    <table class="m_5794538864515976562stb-cell-wrap" border="0" cellpadding="0"
                                           cellspacing="0" style="padding:0px 0" width="100%">
                                        <tbody>
                                        <tr>
                                            <td style="padding:0 0">
                                                <div style="height:0;background:none;padding:0px;border-top-width:1px;border-top-style:solid;border-top-color:#999;margin:0 15px"></div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <table border="0" cellpadding="0" cellspacing="0"
                               style="overflow:hidden;margin:0px auto;padding:0px;width:100%;max-width:630px;clear:both;background:none;border:0"
                               width="100%">
                            <tbody>
                            <tr>
                                <td style="padding:15px 0 15px 0;line-height:1.8;border-width:0px;font-size:14px">
                                    <table class="m_5794538864515976562stb-cell-wrap" border="0" cellpadding="0"
                                           cellspacing="0" style="padding:0px 5px" width="100%">
                                        <tbody>
                                        <tr>
                                            <td class="m_5794538864515976562stb-text-box"
                                                style="padding:0px 15px;line-height:1.8;word-break:break-word;font-size:14px;font-family:AppleSDGothic,apple sd gothic neo,noto sans korean,noto sans korean regular,noto sans cjk kr,noto sans cjk,nanum gothic,malgun gothic,dotum,arial,helvetica,MS Gothic,sans-serif!important;color:#333333"
                                                width="100%">
                                                <div style="font-size:16px">
                                                    <div style="font-size:16px"><span style="color:rgb(34,34,34)">안녕하세요! 성장하는 스타트업을 위한 법인카드, 고위드입니다.&nbsp;</span>
                                                    </div>
                                                    <div style="font-size:16px"><span style="color:rgb(34,34,34)">고위드 카드를 신청해 주셔서 감사합니다.&nbsp;</span>
                                                    </div>
                                                    <div style="font-size:16px"><span
                                                            style="color:rgb(34,34,34)"><br></span></div>
                                                    <div style="font-size:16px"><span style="color:rgb(34,34,34)">고위드는 카드사(<span
                                                            style="font-weight:bold;font-size:16px">신한카드, 롯데카드</span>)와 제휴하여 법인카드 서비스를 제공하고 있습니다. 아래 준비물만 미리 챙겨두시면 <span
                                                            style="font-weight:bold">15분 내 발급 신청</span>이 가능합니다.&nbsp;</span>
                                                    </div>
                                                    <div style="font-size:16px"><span
                                                            style="color:rgb(34,34,34)"><br></span></div>
                                                    <div style="font-size:16px"><span style="color:rgb(34,34,34)">&nbsp;<span
                                                            style="font-weight:bold;font-size:16px">고위드 카드 신청 과정</span>에서 <span
                                                            style="font-weight:bold;font-size:16px">카드사 별 스펙 상세 비교</span> 및 선택과 <span
                                                            style="font-weight:bold;font-size:16px">발급 가능 한도</span>를 <span
                                                            style="font-weight:bold;font-size:16px">확인</span>하실 수 있습니다. 자세한 내용은 아래 내용 참고 부탁드립니다.</span>
                                                    </div>
                                                </div>
                                                <div style="font-size:14px"><br></div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <table border="0" cellpadding="0" cellspacing="0"
                               style="overflow:hidden;margin:0px auto;padding:0px 10px;max-width:630px;clear:both;background:none;border:0"
                               width="100%">
                            <tbody>
                            <tr>
                                <td style="padding:15px 0 15px 0;text-align:center;line-height:1.8;border:0px"
                                    width="100%">
                                    <div class="m_5794538864515976562stb-cta-only-wrap" style="padding:10px 10px">
                                        <table border="0" cellpadding="0" cellspacing="0"
                                               style="border-collapse:separate!important;background:#7acc00;border-radius:500px;border:0;margin:0 auto;table-layout:fixed"
                                               align="center">
                                            <tbody>
                                            <tr>
                                                <td style="line-height:1.5;padding:14px 24px 11px" align="center">

                                                    <a th:href="@{https://www.gowid.com/login(email=${email})}"
                                                        style="font-size:16px;display:inline;color:rgb(255,255,255);background:rgb(122,204,0);border-radius:500px;text-decoration:none;outline:0px;font-family:AppleSDGothic,apple sd gothic neo,noto sans korean,noto sans korean regular,noto sans cjk kr,noto sans cjk,nanum gothic,malgun gothic,dotum,arial,helvetica,MS Gothic,sans-serif;text-align:center"
                                                        target="_blank"
                                                        data-saferedirecturl="https://www.google.com/url?q=https://www.gowid.com/login&amp;source=gmail&amp;ust=1615350775388000&amp;usg=AFQjCNEg6cmFhc1KrBl-euiYVYUH5MZihg">고위드 카드 신청 이어하기</a></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <table border="0" cellpadding="0" cellspacing="0"
                               style="overflow:hidden;margin:0px auto;padding:0px;width:100%;max-width:630px;clear:both;background:none;border:0"
                               width="100%;">
                            <tbody>
                            <tr>
                                <td style="padding:15px 0 15px 0;line-height:1.8;border-width:0px">
                                    <table class="m_5794538864515976562stb-cell-wrap" border="0" cellpadding="0"
                                           cellspacing="0" style="table-layout:fixed;padding:0px 5px" width="100%">
                                        <tbody>
                                        <tr>
                                            <td style="padding:0px 15px" width="100%">
                                                <div><p style="text-align:justify;margin:0px;width:100%"><img
                                                        src="https://ci4.googleusercontent.com/proxy/ywjwJ1fKdRIZnm2qROUjLN-6feOvFmJ1R-S4W4eu4k2oAPsJfqZ_ztkCYKFmRkY3S0bQ9hPnTv9Jc8Pv9UTSyhbz2eeVwxWggMUd2o-SPUay4QlMnt7KYBONLGKoyA=s0-d-e1-ft#https://s3.ap-northeast-2.amazonaws.com/img.stibee.com/32754_1614835988.png"
                                                        style="width:100%;display:inline;vertical-align:bottom;max-width:100%;border-width:0px;border-color:initial;text-align:justify"
                                                        width="610" class="CToWUd a6T" tabindex="0">
                                                    <div class="a6S" dir="ltr"
                                                         style="opacity: 0.01; left: 671px; top: 886px;">
                                                        <div id=":o2" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q"
                                                             role="button" tabindex="0" aria-label="첨부파일() 다운로드"
                                                             data-tooltip-class="a1V" data-tooltip="다운로드">
                                                            <div class="akn">
                                                                <div class="aSK J-J5-Ji aYr"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    </p></div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <table border="0" cellpadding="0" cellspacing="0"
                               style="overflow:hidden;margin:0px auto;padding:0px;width:100%;max-width:630px;clear:both;background:none;border:0"
                               width="100%;">
                            <tbody>
                            <tr>
                                <td style="padding:15px 0 15px 0;line-height:1.8;border-width:0px">
                                    <table class="m_5794538864515976562stb-cell-wrap" border="0" cellpadding="0"
                                           cellspacing="0" style="table-layout:fixed;padding:0px 5px" width="100%">
                                        <tbody>
                                        <tr>
                                            <td style="padding:0px 15px" width="100%">
                                                <div><p style="text-align:justify;margin:0px;width:100%"><img
                                                        src="https://ci4.googleusercontent.com/proxy/fsuim3AAtGFQtV0kTyMTWF-kMZ8vo1xjzqcytg3D_1NCgb3VE21WJb8lo8Md6EQlKw3z44bLQn7Nx8Y-5xHatp99cwe9hLfiec3SihWSIrhrhYL4pvAvssSLqtpZrw=s0-d-e1-ft#https://s3.ap-northeast-2.amazonaws.com/img.stibee.com/32754_1614836000.png"
                                                        style="width:100%;display:inline;vertical-align:bottom;max-width:100%;border-width:0px;border-color:initial;text-align:justify"
                                                        width="610" class="CToWUd a6T" tabindex="0">
                                                    <div class="a6S" dir="ltr"
                                                         style="opacity: 0.01; left: 671px; top: 1754px;">
                                                        <div id=":o3" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q"
                                                             title="다운로드" role="button" tabindex="0"
                                                             aria-label="첨부파일() 다운로드" data-tooltip-class="a1V">
                                                            <div class="akn">
                                                                <div class="aSK J-J5-Ji aYr"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    </p></div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <table border="0" cellpadding="0" cellspacing="0"
                               style="overflow:hidden;margin:0px auto;padding:0px;width:100%;max-width:630px;clear:both;background:none;border:0"
                               width="100%;">
                            <tbody>
                            <tr>
                                <td style="padding:15px 0 15px 0;line-height:1.8;border-width:0px">
                                    <table class="m_5794538864515976562stb-cell-wrap" border="0" cellpadding="0"
                                           cellspacing="0" style="table-layout:fixed;padding:0px 5px" width="100%">
                                        <tbody>
                                        <tr>
                                            <td style="padding:0px 15px" width="100%">
                                                <div><p style="text-align:justify;margin:0px;width:100%"><img
                                                        src="https://ci4.googleusercontent.com/proxy/5roXUL965rlLzxStS4GzZ8ovphJ5EuowuePCXMvU_urN1zmGjXnM-GMEJtVKx1R3nFejdWSKoYr1wVgpLeRsVCq37NHexWELj-WfTe2Swux-FSa6zYfLIpcQ6z8LqA=s0-d-e1-ft#https://s3.ap-northeast-2.amazonaws.com/img.stibee.com/32754_1614836012.png"
                                                        style="width:100%;display:inline;vertical-align:bottom;max-width:100%;border-width:0px;border-color:initial;text-align:justify"
                                                        width="610" class="CToWUd a6T" tabindex="0">
                                                    <div class="a6S" dir="ltr"
                                                         style="opacity: 0.01; left: 671px; top: 2588px;">
                                                        <div id=":o4" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q"
                                                             role="button" tabindex="0" aria-label="첨부파일() 다운로드"
                                                             data-tooltip-class="a1V" data-tooltip="다운로드">
                                                            <div class="akn">
                                                                <div class="aSK J-J5-Ji aYr"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    </p></div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <table border="0" cellpadding="0" cellspacing="0"
                               style="overflow:hidden;margin:0px auto;padding:0px;max-width:630px;clear:both;background:none;border:0"
                               width="100%">
                            <tbody>
                            <tr>
                                <td style="padding:15px 0 15px 0;text-align:left;line-height:1.8;border-width:0px">
                                    <table class="m_5794538864515976562stb-cell-wrap" border="0" cellpadding="0"
                                           cellspacing="0"
                                           style="padding:0px 5px;border-collapse:collapse;table-layout:fixed"
                                           width="100%">
                                        <tbody>
                                        <tr>
                                            <td style="text-align:center;overflow:hidden;clear:both;padding:0 5px;font-size:0">
                                                <div class="m_5794538864515976562stb-left-cell"
                                                     style="width:305px;margin:0px;vertical-align:top;border-collapse:collapse;padding:5px 0px 5px 0px;display:inline-block">
                                                    <div style="padding:5px 10px;border:0">
                                                        <table border="0" cellpadding="0" cellspacing="0"
                                                               style="overflow:hidden;margin:0px auto;padding:0px;max-width:620px;clear:both"
                                                               width="100%">
                                                            <tbody>
                                                            <tr>
                                                                <td style="text-align:center;line-height:1.8;border:0px"
                                                                    width="100%">
                                                                    <table border="0" cellpadding="0" cellspacing="0"
                                                                           style="border-collapse:separate!important;background:#7acc00;border-radius:500px;border:0;margin:0 auto"
                                                                           align="center">
                                                                        <tbody>
                                                                        <tr>
                                                                            <td style="line-height:1.5;padding:14px 24px 11px"
                                                                                align="center">기
                                                                                <a th:href="@{https://www.gowid.com/login(email=${email})}"
                                                                                    style="font-size:16px;display:inline;color:rgb(255,255,255);background:rgb(122,204,0);border-radius:500px;text-decoration:none;outline:0px;font-family:AppleSDGothic,apple sd gothic neo,noto sans korean,noto sans korean regular,noto sans cjk kr,noto sans cjk,nanum gothic,malgun gothic,dotum,arial,helvetica,MS Gothic,sans-serif;text-align:center">고위드 카드 신청 이어하기</a></td>
                                                                        </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <div class="m_5794538864515976562stb-right-cell"
                                                     style="width:305px;margin:0px;vertical-align:top;border-collapse:collapse;padding:5px 0px 5px 0px;display:inline-block">
                                                    <div style="padding:5px 10px">
                                                        <table border="0" cellpadding="0" cellspacing="0"
                                                               style="overflow:hidden;margin:0px auto;padding:0px;max-width:620px;clear:both"
                                                               width="100%">
                                                            <tbody>
                                                            <tr>
                                                                <td style="text-align:center;line-height:1.8;border:0px"
                                                                    width="100%"><font color="#888888"> </font>
                                                                    <table border="0" cellpadding="0" cellspacing="0"
                                                                           style="border-collapse:separate!important;background:none;border-radius:500px;border:2px solid #7acc00;margin:0 auto"
                                                                           align="center">
                                                                        <tbody>
                                                                        <tr>
                                                                            <td style="line-height:1.5;padding:14px 24px 11px"
                                                                                align="center"><a
                                                                                    href="https://calendly.com/gowid/talktosales"
                                                                                    style="font-size:16px;display:inline;color:rgb(122,204,0);background:none;border-radius:500px;text-decoration:none;outline:0px;font-family:AppleSDGothic,apple sd gothic neo,noto sans korean,noto sans korean regular,noto sans cjk kr,noto sans cjk,nanum gothic,malgun gothic,dotum,arial,helvetica,MS Gothic,sans-serif;text-align:center"
                                                                                    target="_blank"
                                                                                    data-saferedirecturl="https://www.google.com/url?q=https://calendly.com/gowid/talktosales&amp;source=gmail&amp;ust=1615350775389000&amp;usg=AFQjCNHA5bdW2Prz2TfI2i9SsMRJ2NDmhw">고위드
                                                                                상담 예약하기</a></td>
                                                                        </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <font color="#888888">
                            <table border="0" cellpadding="0" cellspacing="0"
                                   style="overflow:hidden;margin:0px auto;padding:0px;width:100%;max-width:630px;clear:both;background:none;border:0"
                                   width="100%">
                                <tbody>
                                <tr>
                                    <td style="padding:15px 0 15px 0;line-height:1.8;border-width:0px">
                                        <table class="m_5794538864515976562stb-cell-wrap" border="0" cellpadding="0"
                                               cellspacing="0" style="padding:0px 0" width="100%">
                                            <tbody>
                                            <tr>
                                                <td style="padding:0 0">
                                                    <div style="height:0;background:none;padding:0px;border-top-width:1px;border-top-style:solid;border-top-color:#999;margin:0 15px"></div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <table border="0" cellpadding="0" cellspacing="0"
                                   style="overflow:hidden;margin:0px auto;padding:0px;width:100%;max-width:630px;clear:both;background:none;border:0"
                                   width="100%">
                                <tbody>
                                <tr>
                                    <td style="padding:15px 0 15px 0;line-height:1.8;border-width:0px;font-size:14px">
                                        <table class="m_5794538864515976562stb-cell-wrap" border="0" cellpadding="0"
                                               cellspacing="0" style="padding:0px 5px" width="100%">
                                            <tbody>
                                            <tr>
                                                <td class="m_5794538864515976562stb-text-box"
                                                    style="padding:0px 15px;line-height:1.8;word-break:break-word;font-size:14px;font-family:AppleSDGothic,apple sd gothic neo,noto sans korean,noto sans korean regular,noto sans cjk kr,noto sans cjk,nanum gothic,malgun gothic,dotum,arial,helvetica,MS Gothic,sans-serif!important;color:#333333"
                                                    width="100%">
                                                    <div style="text-align:center;font-size:12px"><span
                                                            style="color:rgb(153,153,153);font-size:12px">주식회사 고위드</span>
                                                    </div>
                                                    <div style="text-align:center;font-size:12px"><span
                                                            style="color:rgb(153,153,153)">&nbsp;<a
                                                            href="mailto:support@gowid.com" target="_blank">support@gowid.com</a>&nbsp;</span>
                                                    </div>
                                                    <div style="text-align:center;font-size:12px"><span
                                                            style="color:rgb(153,153,153)">서울특별시 강남구 도산대로 317 호림아트센터 14층&nbsp;</span>
                                                    </div>
                                                    <div style="text-align:center;font-size:12px"><span
                                                            style="color:rgb(153,153,153)">02-6105-8113&nbsp;</span>
                                                    </div>
                                                    <div style="text-align:center;font-size:12px"><span
                                                            style="color:rgb(153,153,153)">수신거부 <a
                                                            href="https://gowid.com/support/unsubscribe"
                                                            style="color:rgb(0,0,255);font-style:normal;font-weight:normal;text-decoration:none;font-size:12px;display:inline"
                                                            target="_blank"
                                                            data-saferedirecturl="https://www.google.com/url?q=https://stibee.com/error/preview&amp;source=gmail&amp;ust=1615350775389000&amp;usg=AFQjCNH4fhuuEA-eDsGfcwFoi5wXZGhuPA">Unsubscribe</a></span>
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </font></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>