<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.w3.org/1999/xhtml"
>
<head>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1' name='viewport'>
    <meta charset='UTF-8'>
    <style>@media only screen and (max-width: 640px) {
        .stb-left-cell, .stb-right-cell {
            max-width: 100% !important;
            width: 100% !important;
        }

        .stb-left-cell img, .stb-right-cell img {
            width: 100%;
            height: auto;
        }

        .stb-left-cell > div {
            padding: 5px 10px !important;
            box-sizing: border-box;
        }

        .stb-right-cell > div {
            padding: 5px 10px !important;
            box-sizing: border-box;
        }

        .stb-cell-wrap {
            padding: 0 0 0 0 !important;
        }

        .stb-cell-wrap > tr > td {
            padding: 0 0 !important;
        }

        .stb-cell-wrap > tbody > tr > td {
            padding: 0 0 !important;
        }

        .stb-cell-wrap > tbody > tr > td.stb-text-box {
            padding: 0 10px !important;
        }

        .stb-left-cell > div.stb-text-box {
            padding: 5px 10px !important;
        }

        .stb-right-cell > div.stb-text-box {
            padding: 5px 10px !important;
        }

        .stb-container {
            width: 94% !important
        }

        .stb-container a {
            text-decoration: underline;
        }

        .stb-cta-only-wrap {
            padding: 10px 0 !important;
        }
    }</style>
</head>
<body>
<div class="stb-container-full" style="width:100%; padding:40px 0; background-color:#f8f9f8;margin:0 auto;">
    <table class="stb-container" cellpadding="0" cellspacing="0" align="center"
           style="margin: 0px auto; width: 94%; max-width: 630px; background: rgb(255, 255, 255); border: 0px;">
        <tbody>
        <tr style="margin: 0;padding:0;">
            <td style="width: 100%; max-width: 630px; margin: 0 auto; position: relative; border-spacing: 0; clear: both; border-collapse: separate;padding:0;overflow:hidden;_width:620px;">
                <div style="height: 0px; max-height: 0px; border-width: 0px; border-color: initial; border-image: initial; visibility: hidden; line-height: 0px; font-size: 0px; overflow: hidden;display:none;"></div>
                <table class="stb-block" border="0" cellpadding="0" cellspacing="0"
                       style="overflow: hidden; margin: 0px auto; padding: 0px; width:100%;max-width: 630px; clear: both; background: none; border:0;"
                       width="100%;">
                    <tbody>
                    <tr>
                        <td style="padding: 0px 0 0px 0; line-height: 1.8; border-width: 0px;">
                            <table class="stb-cell-wrap" border="0" cellpadding="0" cellspacing="0"
                                   style="table-layout:fixed;padding: 0px 0px;" width="100%">
                                <tbody>
                                <tr>
                                    <td style="padding: 0px 0px;" width="100%">
                                        <div><p style="text-align: justify; margin: 0px;width:100%"><img
                                                src="https://s3.ap-northeast-2.amazonaws.com/img.stibee.com/32754_1609319061.png"
                                                style="width: 100%; display: inline; vertical-align: bottom; max-width: 100%; border-width: 0px; border-color: initial; border-image: initial; text-align: justify;"
                                                width="610"></p></div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table class="stb-block" border="0" cellpadding="0" cellspacing="0"
                       style="overflow: hidden; margin: 0px auto; padding: 0px; width:100%;max-width: 630px; clear: both; background: none;border:0;"
                       width="100%">
                    <tbody>
                    <tr>
                        <td style="padding: 15px 0 0px 0; line-height: 1.8; border-width: 0px;font-size: 14px;">
                            <table class="stb-cell-wrap" border="0" cellpadding="0" cellspacing="0"
                                   style="padding: 0px 5px;" width="100%">
                                <tbody>
                                <tr>
                                    <td class="stb-text-box"
                                        style="padding: 0px 15px;mso-line-height-rule: exactly;line-height:1.8;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;word-break: break-word;font-size: 14px;font-family: AppleSDGothic, apple sd gothic neo, noto sans korean, noto sans korean regular, noto sans cjk kr, noto sans cjk, nanum gothic, malgun gothic, dotum, arial, helvetica, MS Gothic, sans-serif!important; color: #333333"
                                        width="100%"><span
                                            style="font-weight: bold; font-size: 16px; color: rgb(0, 0, 0);">법인회원정보</span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table class="stb-block" border="0" cellpadding="0" cellspacing="0"
                       style="overflow: hidden; margin: 0px auto; padding: 0px; width:100%;max-width: 630px; clear: both; background: none;border:0;"
                       width="100%">
                    <tbody>
                    <tr>
                        <td style="padding: 0px 0 0px 0;line-height: 1.8; border-width: 0px;">
                            <table class="stb-cell-wrap" border="0" cellpadding="0" cellspacing="0"
                                   style="padding: 0px 0;" width="100%">
                                <tbody>
                                <tr>
                                    <td style="padding: 0 0">
                                        <div style="height: 0; background: none; padding: 0px; border-top-width:2px;border-top-style:solid;border-top-color:#a39191;margin:0 15px"></div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table class="stb-block" border="0" cellpadding="0" cellspacing="0"
                       style="overflow: hidden; margin: 0px auto; padding: 0px; width:100%;max-width: 630px; clear: both; background: #ffffff;border:0;"
                       width="100%">
                    <tbody>
                    <tr>
                        <td style="padding: 5px 0 20px 0; line-height: 1.8; border-width: 0px;font-size: 14px;">
                            <table class="stb-cell-wrap" border="0" cellpadding="0" cellspacing="0"
                                   style="padding: 0px 5px;" width="100%">
                                <tbody>
                                <tr>
                                    <td class="stb-text-box"
                                        style="padding: 0px 15px;mso-line-height-rule: exactly;line-height:1.8;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;word-break: break-word;font-size: 14px;font-family: AppleSDGothic, apple sd gothic neo, noto sans korean, noto sans korean regular, noto sans cjk kr, noto sans cjk, nanum gothic, malgun gothic, dotum, arial, helvetica, MS Gothic, sans-serif!important; color: #333333"
                                        width="100%"><span style="color: rgb(0, 0, 0);"><span
                                            style="font-weight: bold;"><span th:text="${companyName}"></span> </span><br><span
                                            style="font-weight: bold;">발급 매수: <span th:text="${issuanceCount}"></span> 매</span></span><br>
                                        <div><span style="color: rgb(0, 0, 0); font-weight: 700;">연회비/전월실적: 면제</span>
                                        </div>
                                        <div><font color="#000000"><b>*신청한 카드는 본 메일 발송일 기준 5영업일 이내 배송 될 예정입니다.&nbsp;</b></font>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table class="stb-block" border="0" cellpadding="0" cellspacing="0"
                       style="overflow: hidden; margin: 0px auto; padding: 0px; width:100%;max-width: 630px; clear: both; background: #ffffff;border:0;"
                       width="100%">
                    <tbody>
                    <tr>
                        <td style="padding: 15px 0 0px 0; line-height: 1.8; border-width: 0px;font-size: 14px;">
                            <table class="stb-cell-wrap" border="0" cellpadding="0" cellspacing="0"
                                   style="padding: 0px 5px;" width="100%">
                                <tbody>
                                <tr>
                                    <td class="stb-text-box"
                                        style="padding: 0px 15px;mso-line-height-rule: exactly;line-height:1.8;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;word-break: break-word;font-size: 14px;font-family: AppleSDGothic, apple sd gothic neo, noto sans korean, noto sans korean regular, noto sans cjk kr, noto sans cjk, nanum gothic, malgun gothic, dotum, arial, helvetica, MS Gothic, sans-serif!important; color: #333333"
                                        width="100%"><span style="font-size: 14px;"><b><span
                                            style="color: rgb(0, 0, 0);"><span style="font-size: 14px;"></span><span
                                            style="font-size: 16px;">카드사용등록 후 이용 가능&nbsp;</span></span><span
                                            style="font-size: 14px; color: rgb(0, 0, 0);"></span></b></span><span
                                            style="font-weight: bold;">(</span><a
                                            href="https://www.notion.so/teamgowid/d6f4f1f2703b4e298343a08befe1384e"
                                            style="font-style: normal; text-decoration: none; color: rgb(145, 201, 13); font-weight: bold; display: inline;"
                                            class=" link-edited" target="_blank">카드등록방법</a><span
                                            style="font-weight: bold;">)</span></td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table class="stb-block" border="0" cellpadding="0" cellspacing="0"
                       style="overflow: hidden; margin: 0px auto; padding: 0px; width:100%;max-width: 630px; clear: both; background: none;border:0;"
                       width="100%">
                    <tbody>
                    <tr>
                        <td style="padding: 0px 0 5px 0;line-height: 1.8; border-width: 0px;">
                            <table class="stb-cell-wrap" border="0" cellpadding="0" cellspacing="0"
                                   style="padding: 0px 0;" width="100%">
                                <tbody>
                                <tr>
                                    <td style="padding: 0 0">
                                        <div style="height: 0; background: none; padding: 0px; border-top-width:2px;border-top-style:solid;border-top-color:#a39191;margin:0 15px"></div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table class="stb-block" border="0" cellpadding="0" cellspacing="0"
                       style="overflow: hidden; margin: 0px auto; padding: 0px; width:100%;max-width: 630px; clear: both; background: none;border:0;"
                       width="100%">
                    <tbody>
                    <tr>
                        <td style="padding: 0px 0 0px 0; line-height: 1.8; border-width: 0px;font-size: 14px;">
                            <table class="stb-cell-wrap" border="0" cellpadding="0" cellspacing="0"
                                   style="padding: 0px 5px;" width="100%">
                                <tbody>
                                <tr>
                                    <td class="stb-text-box"
                                        style="padding: 0px 15px;mso-line-height-rule: exactly;line-height:1.8;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;word-break: break-word;font-size: 14px;font-family: AppleSDGothic, apple sd gothic neo, noto sans korean, noto sans korean regular, noto sans cjk kr, noto sans cjk, nanum gothic, malgun gothic, dotum, arial, helvetica, MS Gothic, sans-serif!important; color: #333333"
                                        width="100%">
                                        <div><span style="color: rgb(0, 0, 0); font-size: 14px;">-사용등록 방법</span><br>
                                        </div>
                                        <span style=" font-style: normal;"><span style="color: rgb(0, 0, 0);"><a
                                                href="https://www.shinhancard.com/cconts/html/main.html"
                                                style="font-style: normal; font-weight: normal; text-decoration: none; color: rgb(0, 0, 0); display: inline;"
                                                class=" link-edited" target="_blank">신한카드 법인 홈페이지</a></span>&gt; 메뉴 &gt; 카드 관리 &gt; 카드사용등록 (온라인 총괄관리자 로그인)&nbsp;</span><br>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table class="stb-block" border="0" cellpadding="0" cellspacing="0"
                       style="overflow: hidden; margin: 0px auto; padding: 0px; width:100%;max-width: 630px; clear: both; background: none;border:0;"
                       width="100%">
                    <tbody>
                    <tr>
                        <td style="padding: 0px 0 20px 0; line-height: 1.8; border-width: 0px;font-size: 14px;">
                            <table class="stb-cell-wrap" border="0" cellpadding="0" cellspacing="0"
                                   style="padding: 0px 5px;" width="100%">
                                <tbody>
                                <tr>
                                    <td class="stb-text-box"
                                        style="padding: 0px 15px;mso-line-height-rule: exactly;line-height:1.8;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;word-break: break-word;font-size: 14px;font-family: AppleSDGothic, apple sd gothic neo, noto sans korean, noto sans korean regular, noto sans cjk kr, noto sans cjk, nanum gothic, malgun gothic, dotum, arial, helvetica, MS Gothic, sans-serif!important; color: #333333"
                                        width="100%"><span style="font-size: 12px;">*안전한 사용을 위해 일시적으로 사용 정지된 상태로 배송됩니다. <b>카드 사용 전에 반드시 사용등록</b>을 하셔야 합니다.&nbsp;</span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table class="stb-block" border="0" cellpadding="0" cellspacing="0"
                       style="overflow: hidden; margin: 0px auto; padding: 0px; width:100%;max-width: 630px; clear: both; background: none;border:0;"
                       width="100%">
                    <tbody>
                    <tr>
                        <td style="padding: 15px 0 5px 0; line-height: 1.8; border-width: 0px;font-size: 14px;">
                            <table class="stb-cell-wrap" border="0" cellpadding="0" cellspacing="0"
                                   style="padding: 0px 5px;" width="100%">
                                <tbody>
                                <tr>
                                    <td class="stb-text-box"
                                        style="padding: 0px 15px;mso-line-height-rule: exactly;line-height:1.8;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;word-break: break-word;font-size: 14px;font-family: AppleSDGothic, apple sd gothic neo, noto sans korean, noto sans korean regular, noto sans cjk kr, noto sans cjk, nanum gothic, malgun gothic, dotum, arial, helvetica, MS Gothic, sans-serif!important; color: #333333"
                                        width="100%"><span
                                            style="font-weight: bold; font-size: 16px;">법인카드 On-Line 서비스</span>
                                        <div><span
                                                style="font-size: 14px; font-family: AppleSDGothic, &quot;apple sd gothic neo&quot;, &quot;noto sans korean&quot;, &quot;noto sans korean regular&quot;, &quot;noto sans cjk kr&quot;, &quot;noto sans cjk&quot;, &quot;nanum gothic&quot;, &quot;malgun gothic&quot;, dotum, arial, helvetica, MS Gothic, sans-serif; color: rgb(51, 51, 51); font-weight: 700; font-style: normal; text-decoration: none;">신한카드 홈페이지에서 아래의 서비스도 이용할 수 있습니다.</span>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table class="stb-block" border="0" cellpadding="0" cellspacing="0"
                       style="overflow: hidden; margin: 0px auto; padding: 0px; width:100%;max-width: 630px; clear: both; background: none;border:0;"
                       width="100%">
                    <tbody>
                    <tr>
                        <td style="padding: 0px 0 15px 0;line-height: 1.8; border-width: 0px;">
                            <table class="stb-cell-wrap" border="0" cellpadding="0" cellspacing="0"
                                   style="padding: 0px 0;" width="100%">
                                <tbody>
                                <tr>
                                    <td style="padding: 0 0">
                                        <div style="height: 0; background: none; padding: 0px; border-top-width:2px;border-top-style:solid;border-top-color:#a39191;margin:0 15px"></div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table class="stb-block" border="0" cellpadding="0" cellspacing="0"
                       style="overflow: hidden; margin: 0px auto; padding: 0px; width:100%;max-width: 630px; clear: both; background: none;border:0;"
                       width="100%">
                    <tbody>
                    <tr>
                        <td style="padding: 0px 0 20px 0; line-height: 1.8; border-width: 0px;font-size: 14px;">
                            <table class="stb-cell-wrap" border="0" cellpadding="0" cellspacing="0"
                                   style="padding: 0px 5px;" width="100%">
                                <tbody>
                                <tr>
                                    <td class="stb-text-box"
                                        style="padding: 0px 15px;mso-line-height-rule: exactly;line-height:1.8;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;word-break: break-word;font-size: 14px;font-family: AppleSDGothic, apple sd gothic neo, noto sans korean, noto sans korean regular, noto sans cjk kr, noto sans cjk, nanum gothic, malgun gothic, dotum, arial, helvetica, MS Gothic, sans-serif!important; color: #333333"
                                        width="100%">
                                        <ul style="padding: 0px; margin: 0px 0px 0px 30px;">
                                            <li><span style="color: rgb(51, 51, 51);">신한 PayFan 사용 신청</span>&nbsp;(온라인결제)<br>
                                            </li>
                                            <li><span style="color: rgb(51, 51, 51);">이용 대금명세서, 결제 내역, 카드 이용내역 조회</span><br>
                                            </li>
                                            <li><span style="color: rgb(51, 51, 51);">결제계좌 및 각종 정보 변경</span><br>
                                            </li>
                                            <li><span style="color: rgb(51, 51, 51);">안심클릭, 거래정지 및 휴대폰 알림 서비스 신청</span><br>
                                            </li>
                                            <li><span style="color: rgb(51, 51, 51);">온라인 조회, 변경 및 신청 서비스</span><br>
                                            </li>
                                            <li><span
                                                    style="font-weight: 400; font-size: 14px;  color: rgb(51, 51, 51); font-style: normal; text-decoration: none;">임직원명의카드/법인명의카드 추가 신청</span><span
                                                    style="font-size: 14px;  color: rgb(51, 51, 51); font-weight: 400; font-style: normal; text-decoration: none;">(</span><span
                                                    style="font-size: 14px;  font-style: normal; text-decoration: none; color: rgb(145, 201, 13); font-weight: bold;"><a
                                                    href="https://www.notion.so/teamgowid/d6f4f1f2703b4e298343a08befe1384e"
                                                    style="font-style: normal; text-decoration: none; font-size: 14px; color: rgb(145, 201, 13); display: inline;"
                                                    class=" link-edited" target="_blank">추가발급방법</a></span><span
                                                    style="color: rgb(51, 51, 51); font-size: 14px;  font-weight: 400; font-style: normal; text-decoration: none;">)</span>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table class="stb-block" border="0" cellpadding="0" cellspacing="0"
                       style="overflow: hidden; margin: 0px auto; padding: 0px; width:100%;max-width: 630px; clear: both; background: none;border:0;"
                       width="100%">
                    <tbody>
                    <tr>
                        <td style="padding: 20px 0 0px 0; line-height: 1.8; border-width: 0px;font-size: 14px;">
                            <table class="stb-cell-wrap" border="0" cellpadding="0" cellspacing="0"
                                   style="padding: 0px 5px;" width="100%">
                                <tbody>
                                <tr>
                                    <td class="stb-text-box"
                                        style="padding: 0px 15px;mso-line-height-rule: exactly;line-height:1.8;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;word-break: break-word;font-size: 14px;font-family: AppleSDGothic, apple sd gothic neo, noto sans korean, noto sans korean regular, noto sans cjk kr, noto sans cjk, nanum gothic, malgun gothic, dotum, arial, helvetica, MS Gothic, sans-serif!important; color: #333333"
                                        width="100%"><b><span style="font-size: 16px;">한도 및 결제일 안내</span></b></td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table class="stb-block" border="0" cellpadding="0" cellspacing="0"
                       style="overflow: hidden; margin: 0px auto; padding: 0px; width:100%;max-width: 630px; clear: both; background: none;border:0;"
                       width="100%">
                    <tbody>
                    <tr>
                        <td style="padding: 0px 0 5px 0;line-height: 1.8; border-width: 0px;">
                            <table class="stb-cell-wrap" border="0" cellpadding="0" cellspacing="0"
                                   style="padding: 0px 0;" width="100%">
                                <tbody>
                                <tr>
                                    <td style="padding: 0 0">
                                        <div style="height: 0; background: none; padding: 0px; border-top-width:2px;border-top-style:solid;border-top-color:#a39191;margin:0 15px"></div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table class="stb-block" border="0" cellpadding="0" cellspacing="0"
                       style="overflow: hidden; margin: 0px auto; padding: 0px; width:100%;max-width: 630px; clear: both; background: none;border:0;"
                       width="100%">
                    <tbody>
                    <tr>
                        <td style="padding: 0px 0 0px 0; line-height: 1.8; border-width: 0px;font-size: 14px;">
                            <table class="stb-cell-wrap" border="0" cellpadding="0" cellspacing="0"
                                   style="padding: 0px 5px;" width="100%">
                                <tbody>
                                <tr>
                                    <td class="stb-text-box"
                                        style="padding: 0px 15px;mso-line-height-rule: exactly;line-height:1.8;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;word-break: break-word;font-size: 14px;font-family: AppleSDGothic, apple sd gothic neo, noto sans korean, noto sans korean regular, noto sans cjk kr, noto sans cjk, nanum gothic, malgun gothic, dotum, arial, helvetica, MS Gothic, sans-serif!important; color: #333333"
                                        width="100%"><span
                                            style="color: rgb(51, 51, 51);  font-style: normal;">-결제일: 매월 </span><span
                                            style="color: rgb(51, 51, 51); ">15</span><span
                                            style="color: rgb(51, 51, 51);  font-style: normal;">일</span><br></td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table class="stb-block" border="0" cellpadding="0" cellspacing="0"
                       style="overflow: hidden; margin: 0px auto; padding: 0px; width:100%;max-width: 630px; clear: both; background: none;border:0;"
                       width="100%">
                    <tbody>
                    <tr>
                        <td style="padding: 0px 0 0px 0; line-height: 1.8; border-width: 0px;font-size: 14px;">
                            <table class="stb-cell-wrap" border="0" cellpadding="0" cellspacing="0"
                                   style="padding: 0px 5px;" width="100%">
                                <tbody>
                                <tr>
                                    <td class="stb-text-box"
                                        style="padding: 0px 15px;mso-line-height-rule: exactly;line-height:1.8;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;word-break: break-word;font-size: 14px;font-family: AppleSDGothic, apple sd gothic neo, noto sans korean, noto sans korean regular, noto sans cjk kr, noto sans cjk, nanum gothic, malgun gothic, dotum, arial, helvetica, MS Gothic, sans-serif!important; color: #333333"
                                        width="100%"><span style="color: rgb(51, 51, 51);  font-style: normal;">-이용기간: 전월 1일부터 전월 말일</span><br>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table class="stb-block" border="0" cellpadding="0" cellspacing="0"
                       style="overflow: hidden; margin: 0px auto; padding: 0px; width:100%;max-width: 630px; clear: both; background: none;border:0;"
                       width="100%">
                    <tbody>
                    <tr>
                        <td style="padding: 0px 0 0px 0; line-height: 1.8; border-width: 0px;font-size: 14px;">
                            <table class="stb-cell-wrap" border="0" cellpadding="0" cellspacing="0"
                                   style="padding: 0px 5px;" width="100%">
                                <tbody>
                                <tr>
                                    <td class="stb-text-box"
                                        style="padding: 0px 15px;mso-line-height-rule: exactly;line-height:1.8;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;word-break: break-word;font-size: 14px;font-family: AppleSDGothic, apple sd gothic neo, noto sans korean, noto sans korean regular, noto sans cjk kr, noto sans cjk, nanum gothic, malgun gothic, dotum, arial, helvetica, MS Gothic, sans-serif!important; color: #333333"
                                        width="100%"><span style=" font-style: normal;">-총 한도: </span><span
                                            style=" font-style: normal; color: rgb(0, 0, 0);">고위드 홈페이지</span><span
                                            style=" font-style: normal;">에서 로그인 후&nbsp;바로 확인할 수 있습니다.(<a
                                            href="https://gowid.com"
                                            style="font-style: normal; text-decoration: none; font-size: 14px; color: rgb(145, 201, 13); font-weight: bold; display: inline;"
                                            class=" link-edited" target="_blank">총 한도 확인하기</a>)</span><br></td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table class="stb-block" border="0" cellpadding="0" cellspacing="0"
                       style="overflow: hidden; margin: 0px auto; padding: 0px; width:100%;max-width: 630px; clear: both; background: none;border:0;"
                       width="100%">
                    <tbody>
                    <tr>
                        <td style="padding: 0px 0 0px 0; line-height: 1.8; border-width: 0px;font-size: 14px;">
                            <table class="stb-cell-wrap" border="0" cellpadding="0" cellspacing="0"
                                   style="padding: 0px 5px;" width="100%">
                                <tbody>
                                <tr>
                                    <td class="stb-text-box"
                                        style="padding: 0px 15px;mso-line-height-rule: exactly;line-height:1.8;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;word-break: break-word;font-size: 14px;font-family: AppleSDGothic, apple sd gothic neo, noto sans korean, noto sans korean regular, noto sans cjk kr, noto sans cjk, nanum gothic, malgun gothic, dotum, arial, helvetica, MS Gothic, sans-serif!important; color: #333333"
                                        width="100%"><span style="color: rgb(0, 0, 0); font-size: 14px;">-</span><span
                                            style="font-size: 14px;"><span
                                            style="color: rgb(51, 51, 51); font-family: AppleSDGothic, &quot;apple sd gothic neo&quot;, &quot;noto sans korean&quot;, &quot;noto sans korean regular&quot;, &quot;noto sans cjk kr&quot;, &quot;noto sans cjk&quot;, &quot;nanum gothic&quot;, &quot;malgun gothic&quot;, dotum, arial, helvetica, MS Gothic, sans-serif; font-weight: 400; font-style: normal; text-decoration: none;">카드별 한도 설정: 신한카드 홈페이지에서 설정할 수 있습니다.</span><span
                                            style="font-size: 14px; font-family: AppleSDGothic, &quot;apple sd gothic neo&quot;, &quot;noto sans korean&quot;, &quot;noto sans korean regular&quot;, &quot;noto sans cjk kr&quot;, &quot;noto sans cjk&quot;, &quot;nanum gothic&quot;, &quot;malgun gothic&quot;, dotum, arial, helvetica, MS Gothic, sans-serif; color: rgb(51, 51, 51); font-weight: 400; font-style: normal; text-decoration: none;">(<a
                                            href="https://www.notion.so/teamgowid/72c651c571e2442a925018614f69ca0d"
                                            style="font-style: normal; text-decoration: none; color: rgb(145, 201, 13); font-weight: bold; font-size: 14px; display: inline;"
                                            class=" link-edited" target="_blank">개별한도설정방법</a></span><span
                                            style="font-size: 14px; font-family: AppleSDGothic, &quot;apple sd gothic neo&quot;, &quot;noto sans korean&quot;, &quot;noto sans korean regular&quot;, &quot;noto sans cjk kr&quot;, &quot;noto sans cjk&quot;, &quot;nanum gothic&quot;, &quot;malgun gothic&quot;, dotum, arial, helvetica, MS Gothic, sans-serif; color: rgb(51, 51, 51); font-weight: 400; font-style: normal; text-decoration: none;">)</span></span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table class="stb-block" border="0" cellpadding="0" cellspacing="0"
                       style="overflow: hidden; margin: 0px auto; padding: 0px; width:100%;max-width: 630px; clear: both; background: none;border:0;"
                       width="100%">
                    <tbody>
                    <tr>
                        <td style="padding: 15px 0 20px 0; line-height: 1.8; border-width: 0px;font-size: 14px;">
                            <table class="stb-cell-wrap" border="0" cellpadding="0" cellspacing="0"
                                   style="padding: 0px 5px;" width="100%">
                                <tbody>
                                <tr>
                                    <td class="stb-text-box"
                                        style="padding: 0px 15px;mso-line-height-rule: exactly;line-height:1.8;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;word-break: break-word;font-size: 14px;font-family: AppleSDGothic, apple sd gothic neo, noto sans korean, noto sans korean regular, noto sans cjk kr, noto sans cjk, nanum gothic, malgun gothic, dotum, arial, helvetica, MS Gothic, sans-serif!important; color: #333333"
                                        width="100%">
                                        <div style="font-size: 12px;"><span
                                                style="color: rgb(51, 51, 51); font-size: 12px;">*한도에 관련된 모든 결정은 카드사의 최종 승인하에 이뤄집니다.&nbsp;</span><span
                                                style="font-size: 12px; ">&nbsp;&nbsp;</span><span
                                                style="font-size: 12px; "><br></span></div>
                                        <span style="font-size: 12px; ">*여전업감독규정에 따라 1년 이상 이용실적이 없는 신용카드는 사용이 정지됩니다.</span>
                                        <div style="font-size: 12px;">*카드 한도는 사용금액 추이를 기반으로 정기적으로 조정될 수 있으며, 한도 조정 시 사전에
                                            안내해 드립니다.
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table class="stb-block" border="0" cellpadding="0" cellspacing="0"
                       style="overflow: hidden; margin: 0px auto; padding: 0px; width:100%;max-width: 630px; clear: both; background: none;border:0;"
                       width="100%">
                    <tbody>
                    <tr>
                        <td style="padding: 0px 0 0px 0;line-height: 1.8; border-width: 0px;">
                            <table class="stb-cell-wrap" border="0" cellpadding="0" cellspacing="0"
                                   style="padding: 0px 0;" width="100%">
                                <tbody>
                                <tr>
                                    <td style="padding: 0 0">
                                        <div style="height: 0; background: none; padding: 0px; border-top-width:2px;border-top-style:solid;border-top-color:#a39191;margin:0 15px"></div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table class="stb-block" border="0" cellpadding="0" cellspacing="0"
                       style="overflow: hidden; margin: 0px auto; padding: 0px; width:100%;max-width: 630px; clear: both; background: none;border:0;"
                       width="100%">
                    <tbody>
                    <tr>
                        <td style="padding: 15px 0 15px 0; border-width: 0px;">
                            <table class="stb-cell-wrap" border="0" cellpadding="0" cellspacing="0"
                                   style="padding: 0px 5px;" width="100%">
                                <tbody>
                                <tr>
                                    <td class="stb-text-box" width="100%"
                                        style="padding: 0px 10px;mso-line-height-rule: exactly;line-height:1.8;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;word-break: break-word;font-size: 12px;font-family: AppleSDGothic, apple sd gothic neo, noto sans korean, noto sans korean regular, noto sans cjk kr, noto sans cjk, nanum gothic, malgun gothic, dotum, arial, helvetica, MS Gothic, sans-serif!important;text-align: center; color: #606060">
                                        주식회사 고위드<br>서울시 강남구 도산대로 317 호림아트센터 14층&nbsp;<br><b></b></td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
