spring:
  jpa:
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
    hibernate:
      use-new-id-generator-mappings: true
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      connection-test-query: SELECT 1
      max-lifetime: 540000

---
spring:
  profiles: dev
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: true
    generate-ddl: true
    open-in-view: false
  datasource:
    initialization-mode: always
    url: jdbc:mysql://10.10.40.173:3306/gowid?characterEncoding=UTF-8&serverTimezone=Asia/Seoul&zeroDateTimeBehavior=convertToNull
    username: gowidapi
    password: La@R_BV2

crownix:
  enabled: false

---
spring:
  profiles: stage
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: true
    generate-ddl: true
    open-in-view: false
  datasource:
    initialization-mode: always
    url: jdbc:mysql://10.10.40.173:3306/gowid?characterEncoding=UTF-8&serverTimezone=Asia/Seoul&zeroDateTimeBehavior=convertToNull
    username: gowidapi
    password: La@R_BV2

crownix:
  enabled: true

---
spring:
  profiles: prod
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
    show-sql: true
    generate-ddl: true
    open-in-view: false
  datasource:
    initialization-mode: always
    url: jdbc:mysql://10.10.30.71:3306/gowid?characterEncoding=UTF-8&serverTimezone=Asia/Seoul&zeroDateTimeBehavior=convertToNull
    username: gowid
    password: Gowid%0115

crownix:
  enabled: true

---

spring:
  profiles: aws
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: true
    generate-ddl: true
    open-in-view: false
  datasource:
    initialization-mode: always
    url: jdbc:mysql://127.0.0.1:3306/MyCard?useSSL=false&characterEncoding=UTF-8&serverTimezone=Asia/Seoul&zeroDateTimeBehavior=convertToNull
    username: card
    password: card2019

crownix:
  enabled: true