spring:
  profiles:
    active: junit, dev, mobile
    include:
      - swagger
      - jwt
      - core
      - resx
  devtools:
    livereload:
      enabled: true
  freemarker:
    cache: false
server:
  port: 8080
  error:
    include-stacktrace: never
logging:
  level:
    root: info
    com.nomadconnection.dapp: debug
    org.hibernate.SQL: debug
    org.hibernate.type.descriptor.sql.BasicBinder: trace
    org.springframework.jdbc.core.JdbcTemplate: debug
    org.springframework.jdbc.core.StatementCreatorUtils: trace
  config: classpath:application-logback.xml

---

spring:
  profiles: dev, stage
  cron:
    enabled: false
    time: 0 0 2 * * *
    endtime: 0 0 6 * * *
  mail:
    sender: gowid <support@gowid.com>
    host: email-smtp.us-west-2.amazonaws.com
    port: 587
    username: AKIAXD7XVDFHCXKO7DE5
    password: BLkZ5wIHk5WRB5qNhZoLjVKDqPA4za0TR+8WXW1vWXc6
    protocol: smtp
    properties:
      mail:
        debug: true
        smtp:
          auth: true
          starttls.enable: true
    default-encoding: UTF-8

---

spring:
  profiles: prod
  cron:
    enabled: true
    time: 0 15 3 * * *
    endtime: 0 0 6 * * *
  mail:
    sender: gowid <support@gowid.com>
    host: email-smtp.us-west-2.amazonaws.com
    port: 587
    username: AKIAXD7XVDFHCXKO7DE5
    password: BLkZ5wIHk5WRB5qNhZoLjVKDqPA4za0TR+8WXW1vWXc6
    protocol: smtp
    properties:
      mail:
        debug: true
        smtp:
          auth: true
          starttls.enable: true
    default-encoding: UTF-8
