spring:
  profiles:
    active: junit, dev, mobile
    include:
      - swagger
      - jwt
      - core
      - resx
      - secukeypad
      - redis
  devtools:
    livereload:
      enabled: true
  freemarker:
    cache: false
  servlet:
    multipart:
      max-file-size: 50MB
      max-request-size: 50MB

server:
  port: 8080
  error:
    include-stacktrace: never

logging:
  level:
    root: info
    com.nomadconnection.dapp: debug
    org.hibernate.SQL: warn
    org.hibernate.type.descriptor.sql.BasicBinder: warn
    org.springframework.jdbc.core.JdbcTemplate: warn
    org.springframework.jdbc.core.StatementCreatorUtils: trace
    com.zaxxer.hikari: debug
  config: classpath:application-logback.xml

gateway:
  shinhan:
    uri:
      1200: /shinhan/d1200
      3000: /shinhan/d3000
      1000: /shinhan/d1000
      1400: /shinhan/d1400
      1510: /shinhan/d1510
      1520: /shinhan/d1520
      1530: /shinhan/d1530
      1100: /shinhan/d1100
      1700: /shinhan/d1700
      1800: /shinhan/d1800
      bpr-transfer: /shinhan/transfer/images/

---

spring:
  profiles: dev
  cron:
    enabled: false
    time: 0 0 2 * * *
    endtime: 0 0 6 * * *
  mail:
    sender: gowid <support@gowid.com>
    host: email-smtp.us-west-2.amazonaws.com
    port: 587
    username: AKIAXD7XVDFHCXKO7DE5
    password: BLkZ5wIHk5WRB5qNhZoLjVKDqPA4za0TR+8WXW1vWXc6
    protocol: smtp
    properties:
      mail:
        debug: true
        smtp:
          auth: true
          starttls.enable: true
    default-encoding: UTF-8
s3:
  access-key: AKIAXD7XVDFHOICQV3XW
  secret-key: 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
  bucket-url: https://s3.ap-northeast-2.amazonaws.com/stg-mycard.gowid.com/
  bucket-name: stg-mycard.gowid.com

tomcat:
  ajp:
    protocol: AJP/1.3
    port: 8009
    enabled: true

gateway:
  aws:
    domain: http://10.10.40.171:8080
  idc:
    host: 10.10.40.171:8080
    protocol: http

encryption:
  keypad:
    enable: true
  seed128:
    enable: true

stockholder:
  file:
    size: 2097152

---

spring:
  profiles: stage
  cron:
    enabled: false
    time: 0 0 2 * * *
    endtime: 0 0 6 * * *
  mail:
    sender: gowid <support@gowid.com>
    host: email-smtp.us-west-2.amazonaws.com
    port: 587
    username: AKIAXD7XVDFHCXKO7DE5
    password: BLkZ5wIHk5WRB5qNhZoLjVKDqPA4za0TR+8WXW1vWXc6
    protocol: smtp
    properties:
      mail:
        debug: true
        smtp:
          auth: true
          starttls.enable: true
    default-encoding: UTF-8
s3:
  access-key: AKIAXD7XVDFHOICQV3XW
  secret-key: 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
  bucket-url: https://s3.ap-northeast-2.amazonaws.com/stg-mycard.gowid.com/
  bucket-name: stg-mycard.gowid.com

tomcat:
  ajp:
    protocol: AJP/1.3
    port: 8009
    enabled: true

gateway:
  aws:
    domain: http://10.10.40.171:8080
  idc:
    host: 10.10.40.171:8080
    protocol: http

encryption:
  keypad:
    enable: true
  seed128:
    enable: true

stockholder:
  file:
    size: 2097152

---

spring:
  profiles: prod
  cron:
    enabled: true
    time: 0 0 2 * * *
    endtime: 0 0 6 * * *
  mail:
    sender: gowid <support@gowid.com>
    host: email-smtp.us-west-2.amazonaws.com
    port: 587
    username: AKIAXD7XVDFHCXKO7DE5
    password: BLkZ5wIHk5WRB5qNhZoLjVKDqPA4za0TR+8WXW1vWXc6
    protocol: smtp
    properties:
      mail:
        debug: true
        smtp:
          auth: true
          starttls.enable: true
    default-encoding: UTF-8
s3:
  access-key: AKIAXD7XVDFHNNQ3Y7YC
  secret-key: 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
  bucket-url: https://s3.ap-northeast-2.amazonaws.com/prod-mycard.gowid.com/
  bucket-name: prod-mycard.gowid.com

tomcat:
  ajp:
    protocol: AJP/1.3
    port: 8009
    enabled: true

gateway:
  aws:
    domain: http://10.10.20.171:8080
  idc:
    host: 10.10.20.171:8080
    protocol: http

encryption:
  keypad:
    enable: true
  seed128:
    enable: true

stockholder:
  file:
    size: 2097152